.direnv
.DS_Store
*node_modules
postgres_data
*.env
acls.json
*dist
*build
*release
daemon/ziti
daemon/__pycache__
daemon/main.spec
daemon/main
backend/resources
backend/ziti-api-data.json
*letsencrypt
